.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 20vw;
}

.App-header {
  background-color: #f9f9f9;
  height: calc(100vh - 40px);
  padding: 20px;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-title {
  font-size: 1.5em;
}

.App-big {
  font-size: 1.8em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 720px) {
  .App-logo {
    height: 50vw;
  }
}
